
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tool Emporium Home 🏚</title>
</head>
<body>
<h1>🛠 Welcome to the Tool Emporium! 🛠</h1>
<h3>We have SO MANY different tools for you to choose from.</h3>
<h4>List of tools:</h4>
@Html.ActionLink("🎁 Birthday Card Generator", "BirthdayCardForm")
<h5>End of list.</h5>
</body>
</html>
