@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
        <meta name="viewport" content="width=device-width" />

        <title>GetCookie</title>
</head>
<body>
    @if (@Model == null)
    {
        <p>No cookie set.</p>;
    }
    else 
    {
        <p>Cookie: @Model</p>
    }

</body>
</html>