@model HelloWorld.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<h1>Thank you, @Model.Name</h1>
<h2>Your RSVP with the email address @Model.Email was successful.</h2>
@if (Model.WillAttend == true)
{
    @:Thanks for coming!
}
else
{
    @:Sorry you can't make it.
}